input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  color: rgb(3, 3, 3);
}

.crbutton {
  background-color: #0288d1;
  color: black;
  border: 1px solid #1c61bb;
  background-color: #1c61bb;
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
}

.crbutton:hover {
  background-color: #01579b;
  color: white;
}

.bhbutton {
  color: rgb(0, 0, 0);
  border: 1px solid #116b20;
  background-color: #00c853;
  border-radius: 10px;
  margin: 10px;
}

.bhbutton:hover {
  color: white;
  background-color: #116b20;
}

.uid {
  background-color: #7c4dff;
  color: rgb(255, 255, 255);
  background-color: #9575cd;
  border-radius: 10px;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

form {
  margin: 50px 200px;
  padding: 50px;
  border: 1px solid #90caf9;
  border-radius: 10px;
  background-color: #90caf9;
}

.uform {
  margin: 50px 200px;
  padding: 50px;
  border: 1px solid #b39ddb;
  border-radius: 10px;
  background-color: #b39ddb;
}

button {
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.read {
  margin: 50px 200px;
  padding: 50px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #69f0ae;
}

.rbhbutton {
  color: rgb(0, 0, 0);
  border: 1px solid #116b20;
  background-color: #00c853;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
}

.rbhbutton:hover {
  color: white;
  background-color: #116b20;
}

.ubutton {
  background-color: #7c4dff;
  color: black;
  border: 1px solid #7c4dff;
  background-color: #7c4dff;
  border-radius: 10px;
  margin: auto;
}

.ubutton:hover {
  background-color: #651fff;
  color: white;
}

.dform {
  height: 200px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  border: 1px solid #f186c0;
  border-radius: 10px;
  background-color: #f186c0;
  text-align: center;
}

.cancelbutton {
  background-color: #09af00;
  color: black;
  border: 1px solid #09af00;
  background-color: #09af00;
  border-radius: 10px;
  margin-right: 20px 30px;
}

.cancelbutton:hover {
  background-color: #008b00;
  color: white;
}

.delbutton {
  background-color: #ef0078;
  color: black;
  border: 1px solid #ef0078;
  background-color: #ef0078;
  border-radius: 10px;
  margin: 20px 30px;
}

.delbutton:hover {
  background-color: #880061;
  color: white;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #0a690a;
  border-radius: 10px;
}

.button1:hover {
  background-color: #0a690a;
  color: white;
  border-radius: 10px;
}

.button5 {
  background-color: #0a690a;
  color: black;
  border: 2px solid #047e28;
  border-radius: 10px;
}
