body{
    background-color:dimgray;
    color: white;
}

button {
    height: 40px;
    width: 60px;
    color: white;
    background-color: green;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}
